* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Inter', sans-serif; line-height: 1.6; margin: 2% auto 2%;}
.app-wrapper { background: #f3eff1;  min-height: 10vh; max-width: 100%}
.main-content { padding-top: 20px; background: #888e94; min-height: 90vh; margin: 2% 2% 2% }
